/* normalize and typography are imported from the npm registry and than loaded from node-modules.
reset-local is loaded from the styles directory*/
@import "normalize.css";
@import "./reset-local.css";
@import "typography.css";

.dot {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    visibility: hidden;
  }
  
  .visible{
     visibility: visible;
  }
  
  .hidden{
     visibility: hidden;
  }