/* normalize and typography are imported from the npm registry and than loaded from node-modules.
reset-local is loaded from the styles directory*/
@import "normalize.css";
@import "./reset-local.css";
@import "typography.css";

#startBtn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 30px;
}

.invisible {
  visibility: hidden;
}
